.overlay{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    //background-color: rgba(0,0,0,0.8);
}
.modal-container{
    position: relative;
    background-color:#ac9dad;
    display: flex;
    top: 23%;
    left:10%;
    width: 80%;
    height: 53%;
    -webkit-box-shadow: 1px 5px 20px 5px rgba(37, 37, 38, 0.519);
    -moz-box-shadow: 1px 5px 20px 5px rgba(37, 37, 38, 0.519);
    box-shadow: 1px 5px 20px 5px rgba(37, 37, 38, 0.519);
    border-radius:  2% / 5%;
    
}
.modal-poster{
    width: 400px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }
.modal-right{
    width: 100%;
   
    
}
.closebtn{
    position: relative;
    font-size: 5rem;
    top: 2%;
    left: 90%;
    color: aliceblue;
}
.modal-content{
    display: flex;
    position: relative;
    bottom: 2rem;
    //flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    margin-left: 3rem;
    margin-right: 4rem;
    //background-color: antiquewhite;
 
}
.modal-title{
    
    text-transform: uppercase;
    font-size: 2rem;
    color: aliceblue;
    font-weight: 600;
    font-family: 'Joystix','Comfortaa','Poppins', Arial, sans-serif;
    align-self: start;
    //margin-left: 1rem;
  }

.modal-desc{
    
    color: aliceblue;
    font-size: 1.5rem;
    //padding: 1rem, 2rem;
    //align-self: center;
    margin-top: 1rem;
    text-align: justify;
  }

.modal-links{
    position: relative;
    width: 100%;
    //margin: 1rem;
    color: aliceblue;
    font-size: 4rem;
    margin-left:21rem;
    color: aliceblue;
    bottom: 1.5rem;
}
.link{
    margin-right: 1rem;
    position: relative;
    display: inline-block;
}
.link .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(37, 34, 65);
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.7s;
}

.link .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(37, 34, 65) transparent transparent transparent;
}

.link:hover .popuptext {
    visibility: visible;
    opacity: 1;
}

.modal-images{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    bottom: 2rem;
    justify-content: center;
    //background-color: aquamarine;
}
.modal-img img{
    //background-color: aqua;
    border: 2px solid black;
    align-items: center;
    width: 12rem;
    height: 11rem;
    margin-right: 0.2rem;
    
}
modal-minimg img{
    object-fit: cover;
    
}

//responsive----------------------------
@media screen and (max-width: 1200px) {
    .modal-container{
        top: 30%;
        left:10%;
        width: 80%;
        height: 55%;
    }
    .modal-links{
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        color: aliceblue;
        font-size: 3.5rem;
        margin-left:30%;
        color: aliceblue;
        bottom: 0rem;
    }
    .closebtn{
        position: relative;
        font-size: 3rem;
        top: 2%;
        left: 85%;
        color: aliceblue;
        z-index: 10;
    }
    .modal-poster{
        width: 300px;
        object-fit: cover;

      }
}

@media screen and (max-width: 992px) {
    .modal-container{
        top: 18%;
        left:10%;
        width: 80%;
        height: 53%;
    }
    .modal-poster{
        display: none;
        
      }

}

@media screen and (max-width: 768px) {
    
    
}
@media screen and (max-width: 576px) {
    .overlay{
        z-index: 3;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        //background-color: rgba(0,0,0,0.8);
        overflow: hidden;
    }
    .modal-container{
        top: 5%;
        left:10%;
        width: 80%;
        height: 63%;
    }
    .modal-content{
        display: flex;
        position: relative;
        //bottom: 0rem;
        //flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .modal-title{
        font-size: 1.5rem;
      }
    
    .modal-desc{
        font-size: 1rem;
        margin-top: 1rem;

    }
    .closebtn{
        position: relative;
        font-size: 2.5rem;
        top: 2%;
        left: 85%;
        color: aliceblue;
        z-index: 10;
    }
    .modal-img img{
        //background-color: aqua;
        //border: 2px solid black;
        align-items: center;
        width: 11rem;
        height: 11rem;
        margin-right: 0.1rem;
        
    }
    .modal-links{
        position: relative;
        width: 100%;
        margin-bottom: 1.4rem;
        color: aliceblue;
        font-size: 3rem;
        margin-left:10%;
        color: aliceblue;
        bottom: 0rem;
    }
}