
.pro{
    //border: 5%;
    width: 100%;
    //height: 100vh;
    //min-height: fit-content !important;
    z-index: 2;
    justify-content: center;
    align-items: center;
    //color: red;
    //background-color: #8db49a;
    //position: relative;
    padding-bottom: 20rem;
  
    display: flex;
    
  }
  .project-container{
    //padding: 0 1em;
    margin-top: 5%;
    width: 85%;
    height: 88%;
    //border-top: 3px solid #f0f8ff;
    //justify-content: center;
    //align-items: center;
  
  .title{
    position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
    
    &__arr {
      position: relative;
      justify-content: center;
      //top: 1%;
      //left: 42%;
      font-size: 6rem;
      color: aliceblue;

    }
  }
  .me{
      font-family: 'Joystix','Comfortaa','Poppins', Arial, sans-serif;
      font-size: 3rem;
      font-weight:600;
      letter-spacing: 3px;
      color: #f0f8ff;
      text-align: center;
      //padding-top: 2.3em;
  }
  .top3{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: fadeInUp 2s 1s;
    animation-fill-mode: forwards;
    &-project{
      cursor: pointer;
      padding: 1rem;
    }
    &-poster{
      width: 250px;
      height: 250px;
      transform: scale(1);
      align-self: center;
      margin-bottom: 6px;
      margin-top: 4px;
      border-radius: 5%;
      -webkit-box-shadow: 10px 10px 0px 0px #6e6790;
      -moz-box-shadow: 10px 10px 0px 0px #6e6790;
      box-shadow: 10px 10px 0px 0px #6e6790;
      transition: transform 0.5s;
      &-poster img{
        object-fit: cover;  
      }
      &:hover{
        transform:scale(0.95);
        transition: transform 0.5s;
        box-shadow: 1px 1px 0px 0px #6e6790;
        transition: all .4s ease;
        
      }
      
    }
    &-title{
      text-transform: uppercase;
      font-size: 2rem;
      color: aliceblue;
      font-weight: 600;
      font-family: 'Joystix','Comfortaa','Poppins', Arial, sans-serif;
      padding-left: 2.5rem;
    }
    &-info{
      width: 90%;
      color: aliceblue;
      font-size: 1.5rem;
      opacity: 0.8;
      overflow-wrap: break-word;
      padding-left: 2.5rem;
    }
  }
}

//responsive----------------------------
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
 
}

@media screen and (max-width: 768px) {
  
    
}
@media screen and (max-width: 576px) {
  
}