.pro{
    border: 5%;
    max-width: 100%;
    height: 100vh;
    min-height: fit-content !important;
    z-index: 2;
    justify-content: center;
    align-items: center;
    //color: red;
    background-color: #8db49a;
    position: relative;
    //padding: 1em;
  
    display: flex;
   flex-direction: column;
  }
  .title{
    align-content: center;
    align-items: center;
    
    //padding: 10em 0;
    &__arr {
      position: relative;
      justify-content: center;
      //top: 1%;
      //left: 42%;
      font-size: 6rem;
      color: aliceblue;

    }
}
.me{
    font-family: 'Joystix','Comfortaa','Poppins', Arial, sans-serif;
    font-size: 3rem;
    font-weight:600;
    letter-spacing: 3px;
    color: #f0f8ff;
    text-align: center;
    padding-top: 2.3em;
}