@use '../../../App.scss' as c;

.nav-bar-container{
  
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  position: fixed;
      top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background:#3a4866;
  //background: transparent;
  z-index: 10;
  padding: auto;
  
  /*&--top {
      position: fixed;
      top: 0;
  }*/
}
/*.nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  background:transparent;
  text-align: center;
  padding: 0 0em;
  z-index: 10;
}*/
.nav-bar-tab{
    position: relative;
    display:flex;
    //float: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-right: 2em;
    flex: 1 1 auto;
    color: c.$bg-white;
    overflow: hidden;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Silkscreen', Arial, sans-serif;
    text-align: center;
    flex-basis: content;
    flex-wrap: wrap;
    
    &:hover {
      background-position: 0 100%;
      font-family: 'Simplo2', Arial, sans-serif;

    }
  }
.left{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 3rem;
}
.right{
  display: flex;
  align-items: center;
  
}

@media (max-width: 800px) {
	
	.nav-bar-tab{
		font-size: 1rem;
	}
}
@media (max-width: 400px) {
	
	.nav-bar-tab{
		font-size: 2rem;
	}
}
    .logo{
      display: block;
      padding: 2em 1em;
      top: 0.2em;
      //gap: 2rem;

    }
    .ico{
      display: block;
      margin: auto auto;
      width: 40px;
      height: auto;
      
    }
    .ico:hover {
      transform: scale(1.5);
      transition: all 0.5s ease;
    }



  