@use '../../../App.scss' as c;

.nav-bar-container{
  
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  position: fixed;
      top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 10;
  padding: auto;
  
}
.nav-bar-tab{
    position: relative;
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-right: 2em;
    flex: 1 1 auto;
    color: c.$bg-white;
    overflow: hidden;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Silkscreen', Arial, sans-serif;
    text-align: center;
    flex-basis: content;
    flex-wrap: wrap;
    cursor:pointer;
    & a{
      text-decoration: none;
      color:aliceblue;
    }
    &:hover {
      background-position: 0 100%;
      font-family: 'Simplo2', Arial, sans-serif;

    }
  }
.left{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 3rem;
}
.right{
  display: flex;
  align-items: center;
  
}
.logo{
  display: block;
  padding: 2em 1em;
  top: 0.2em;
  //gap: 2rem;

}
.ico{
  display: block;
  margin: auto auto;
  width: 40px;
  height: auto;
  
}
.ico:hover {
  transform: scale(1.5);
  transition: all 0.5s ease;
}
.menu {
  display: none;
  
}
//media 
@media screen  and (max-width: 1200px){
  .nav-bar-container{
    position:fixed;
    width: 100%;
    min-width: auto;
    box-shadow: none;
    

  }
  .left{
    display: block;
    position: absolute;
    top: -8px;
    left: -15px;
    //padding: 0rem;
  }
   li, .right{
    display: none;
  }
  .nav-bar-tab{
    position: relative;
    display:block;
    padding: 1em;
    //flex: 1 1 auto;
    color: c.$bg-white;
    overflow: hidden;
    letter-spacing: 0.1rem;
    text-align: right;
    font-size: 3rem;
    //background-color: #3a4866f2;
  }
  .movil-show{
    display: block;
    position: absolute;
    background-color: #3a4866f2;
    top:3.8rem;
    right: 0;
    z-index: 1;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5%;

    /*& a{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & a:after{
      opacity: 1;
      position: initial;
      width:auto;
      margin-right: 1rem;

    }*/
  }
  .menu {
    display:block;
    position: absolute;
    justify-content: center;
    top: 1rem;
    left: 90vw;
    font-size: 3rem;
    color: aliceblue;
    align-items: center;
    
  }
  
}
/*@media (max-width: 800px) {
	
	.nav-bar-tab{
		font-size: 1rem;
	}
}
@media (max-width: 400px) {
	
	.nav-bar-tab{
		font-size: 2rem;
	}
}*/



  