/*
  @media  only screen and (min-width: 576px) {
    .banner {
      width: 100vw;
      height: 100vh;  
      }
    }
  @media only screen and (min-width: 768px) {
    .banner {
        
      }
    }
  @media only screen and  (min-width: 992px) {
    .banner {
      
      }
    }
  @media (min-width: 1200px) {
    .banner {
        
      }
    }*/
    .base::before{
      content:'';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5vh;
      background: linear-gradient(transparent, #678d6b9d 40%,  #8d9f7f 70%, #cbccbe);
      z-index: 3;
    }
    .hero{
      display:flex;
      width: 100%;
      height: 100vh;
 
    }
    .layer {
      -webkit-background-size: cover;
      -moz-background-size: cover; 
      -o-background-size: cover;
      background-size: auto;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
      background-size: cover;
      display: block;
      object-fit: cover;
      pointer-events: none;
      will-change: transform;
      
    &-bg{
      background-color: #7ca1c0;
      //background-image: url(./../../images/Parallax/Compressed/fondoClaro_compressed.png);
      
    }
    &-blue{
      content:'';
      position: absolute;
      top: -200vh;
      width: 100vw;
      height: 200vh;
      background-color: #3a4866;
      //background: linear-gradient(#3a4866, transparent);
      //z-index: -2;
    }
    #bg1{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/fondoOscuro_compressed.png);
    }
    #b1{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/nubes1_compressed.png);
      //right: 50%;
    }
    #b2{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/nubes2_compressed.png);
    }
    #b3{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/nubes3_compressed.png);
    }
    #b4{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/edificio_compressed.png);
    }
    #b5{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/verde_compressed.png);
    }
    #b6{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/casaYverde.png);
    }
   /* .layer-cat{
      background-image: url(./../../images/Parallax/cat.png);
      position: absolute;
    }
    .layer-tree{
      background-image: url(./../../images/Parallax/tree.png);
      position: absolute;
    }
    .layer-mobil{
      background-image: url(./../../images/Parallax/mobil.png);
      position: absolute;
    }
    .layer-deco{
      background-image: url(./../../images/Parallax/deco.png);
      position: absolute;
    }
    .layer-sombra{
      background-image: url(./../../images/Parallax/sombra.png);
      position: absolute; 
    }*/
    #b7{
      width: 100%;
      height: 100%;
      //background-image: url(./../../images/Parallax/Compressed/piso_compressed.png);
      position: absolute;
      z-index: 2;
    }
    &_b8{
      
      //background-image: url(./../../images/Parallax/Compressed/luz_compressed.png);
      animation: flash 1s ;
      animation-delay: 5s;
      animation-direction: alternate; 
      opacity: 1;
    }
    &_b8::before{
      opacity: 0;
    }
  }
    .hero-mobile {
      display: none;
      background: url(./../../images/Parallax/Compressed/casa1-5_compressed.png) no-repeat center bottom / cover;
      height: 390px;
      width: 100%;
      //align-self: center;
      
      
    }
   
    @media screen  and (max-width: 992px)  {
      .hero {
         display: none;
         //visibility: hidden;
      }
      .hero-mobile {
         display: block;
         
      }
      
      .base::before{
        display: block;
        content:'';
        position: absolute;
        top: 90%;
        width: 100vw;
        //height: 20vh;
        background: none;
        //background: linear-gradient(transparent ,#3a4866);
        z-index: 3;
      }

    }