*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0%;
}
*:after, 
  *:before {
      box-sizing: border-box;
  } 
html{
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    overflow:auto;
    display: block;
    overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button,
input,
textarea,
select{
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}
img,
video,
canvas,
svg{
    max-width: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
