@font-face {
    font-family: "3d-Thirteen-Pixel";
    src: url(../fonts/3D-Thirteen-Pixel-Fonts.ttf) format('truetype');
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background: #151819;
    display: grid;
    place-items: center;
    font-family: '3d-Thirteen-Pixel','Comfortaa', cursive, sans-serif;
}
.loading__box {
    position: relative;
    width: 500px;
    height: 200px;
    border: 3px solid white;
    border-top: 3px solid rgb(120, 120, 120);
    border-bottom: 3px solid rgb(120, 120, 120);
    border-radius: 5px;
}
@media (max-width: 600px) {
    .loading__box {
        width: 80%;
    }
}
.loading__text{
    position: relative;
    color:aliceblue;
    padding: 1rem;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {
    .loading__text {
        font-size: 30px;
    }
}
.loading__text--dot{
    width: 25px;
    height: 25px;
    margin: 0 3;
    border-radius: 50%;
    background:aliceblue;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    from{
        opacity: 0;
        background: #0b134f;
    }
    to{
        opacity: 1;
        background:aliceblue;
    }
}
.loading__text--border{
    position: absolute;
    width: 85%;
    height: 1px;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: aliceblue;
    animation:width_animaion 1s forwards;
}
.loading__bar{
    position: absolute;
    width: 90%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
    border-radius: 2px;
}
.loading__bar--inner{
    height: 100%;
    width: 50%;
    border-radius: 2px;
    background: greenyellow;
}
.loading__counter{
    position:absolute;
    top: 70%;
    left: 0;
    color: #f0f8ff;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.loading__counter--number{
    color: aqua;
}

    @keyframes width_animaion {
        0%{
            width: 85%;
        }
        100%{
            width: 250px;
        }
    }

